form{
	margin-left: 10px;
}

input, select {
	font-family: 'PT Sans Narrow', sans-serif;
	width: 93%;
	margin-bottom: 10px;
	padding: 2px;
	box-sizing: border-box;
	font-size: 20px;
}

form select:focus{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

form select {
	top: 50%;
	left: 50%;
	background: #3d7cc4;
	color: #fff;
	line-height: 50px;
	border-radius: 2px;
	border: none;
	font-size: 20px;
	transition: 0.5s;
	box-shadow: 0 5px 25px rgba(0,0,0,0.9);
	-webkit-appearance: button;
	outline: none;
}
form label{
	font-size: 20px;
}

form p{
	font-size: 1.2rem;
	margin-bottom: 5px;
}


form input:focus{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

form input {
	border: 2px solid #173d69;
	border-radius: 2px;
	padding: 5px;
	transition: 0.5s;
	box-shadow: 0 5px 25px rgba(0,0,0,0.9);
	background: #3d7cc4;
	color: #fff;
	border: none;

}

form h3{
	font-size: 12vw;
}

form #error{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 2rem;
}

form button{
	margin-top: 15px;
	margin-bottom: 15px;

	background: none;
	color: #fff;
	height: 50px;
	width: 80px;
	border: 1px solid #3d7cc4;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.6s;
	overflow: hidden;
	font-family: 'Lobster Two', cursive;
	padding: 10px; 	
}

form button:focus{
	outline: none;
}

form button:hover{
	background: #3d7cc4;
	cursor: pointer;
}

form button:hover:before{
	transform: translateX(300px) skewX(-15deg);
	opacity: .6;
	transition: .3s;
}

form button:hover:after{
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: .3s;
}

@media (min-width: 768px){
	form{
		margin-top: 20px;
		width: 100%;
	}
}

@media (min-width: 1024px){

	form{
		width: auto;
	}

	select{
		padding: 10px;
	}
	form input{
		padding: 10px;
	}
	form button{
		padding: 10px;
	}
}





